@use './abstract/variables';
@use './abstract/main';

/***************************************** && Header */
%myheader {
    display: flex;
}

#mainHeader {
    @extend %myheader;
    background-color: variables.$color_fondo;
    justify-content: space-between;
    align-items: center;
}

#rightHeader {
    @extend %myheader;
    justify-content: stretch;
}

@mixin myimage($incremento) {
    width: variables.$altura_anchura_minima + $incremento;
    height: variables.$altura_anchura_minima + $incremento;
}

#rightHeader img {
    @include myimage(10)
}

#leftHeader img {
    @include myimage(55)
}

/***************************************** && Navigation bar */
#mainNav ul {
    background-color: variables.$color_fondo;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#mainNav ul li a {
    display: block;
    padding: 20px;
    color: variables.$negro;
    text-decoration: none;
}

#mainNav ul li:nth-child(1) a {
    font-weight: normal;
    text-decoration: none;
}

#mainNav ul li:nth-child(2) a {
    font-weight: normal;
    text-decoration: none;
}

#mainNav ul li:nth-child(3) a {
    font-weight: normal;
    text-decoration: none;
}

#mainNav ul li:nth-child(4) a {
    font-weight: normal;
    text-decoration: none;
}

#mainNav ul li a:hover {
    display: block;
    padding: 20px;
    color: variables.$negro;
    text-decoration: none;
    transition: 1s;
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    background-color: variables.$gris;
    border-radius: 6px;
}

#mainNav ul li a.seleccionada {
    display: block;
    padding: 20px;
    color: variables.$negro;
    text-decoration: underline;
    font-weight: bolder;
    font-size: x-large;
}

/***************************************** && Main section INDEX*/
@mixin mysection($mygrid, $mygap) {
    grid-template-areas: $mygrid;
    margin: 0 auto;
    display: grid;
    column-gap: $mygap;
    row-gap: $mygap;
}

#mainSectionIndex {
    @include mysection(variables.$grid-index, 15px);
    grid-template-columns: repeat(2, 1fr);
}


#mainSectionIndex article#imagenppal {
    grid-area: imagenppal;
    aspect-ratio: 16/5;
}

#mainSectionIndex article#imagenppal img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#mainSectionIndex article#slogan {
    grid-area: slogan;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#mainSectionIndex article#android {
    grid-area: android;
    display: flex;
    flex-direction: column-reverse;
    height: variables.$altura_seccion;
    border-radius: 25px;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
}

#mainSectionIndex article#android a {
    position: relative;
    top: 90%;
    left: 5%;
}

#mainSectionIndex article#android img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#mainSectionIndex article#iphone {
    grid-area: iphone;
    display: flex;
    flex-direction: column-reverse;
    height: variables.$altura_seccion;
    border-radius: 25px;
    font-weight: bold;
    font-size: xx-large;
    text-align: right;
}

#mainSectionIndex article#iphone a {
    position: relative;
    top: 90%;
    right: 5%;
}

#mainSectionIndex article#iphone img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#mainSectionIndex article a {
    text-decoration: none;
    color: variables.$negro;
}

#tienda {
    margin: 0 auto;
    column-gap: 15px;
    row-gap: 15px;
}

#tienda article#tienda1 {
    grid-area: tienda;
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    aspect-ratio: 16/5;
}

#tienda article#tienda1 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#textotienda {
    position: relative;
    top: -25%;
    left: 5%;
}

/************************************************ && Main section ANDROID*/
#mainSectionAndroid {
    @include mysection(variables.$grid-android, 15px);
    grid-template-columns: repeat(2, 1fr);
}



#mainSectionAndroid article#androidmenu {
    grid-area: androidmenu;
}

#mainSectionAndroid article#androidart1 {
    grid-area: androidart1;
}

#mainSectionAndroid article#androidart2 {
    grid-area: androidart2;
}

#mainSectionAndroid article#androidart3 {
    grid-area: androidart3;
}

#mainSectionAndroid article#androidart4 {
    grid-area: androidart4;
}

#mainSectionAndroid article#androidart5 {
    grid-area: androidart5;
}

#mainSectionAndroid article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/******************************************************* && Navigation bar ANDROID*/
#androidNav ul {
    background-color: variables.$color_fondo;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#androidNav ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: variables.$color_botones;
    border-radius: 15px;
    font-size: xx-large;
}

#androidNav ul li a:hover {
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: variables.$color_botones;
    border-radius: 15px;
    font-size: xx-large;
    transition: 1s;
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    background-color: variables.$gris;
}

#androidNav ul li:nth-child(1) a {
    font-weight: normal;
    text-decoration: none;
}

#androidNav ul li:nth-child(2) a {
    font-weight: normal;
    text-decoration: none;
}

#androidNav ul li:nth-child(3) a {
    font-weight: normal;
    text-decoration: none;
}

#androidNav ul li:nth-child(4) a {
    font-weight: normal;
    text-decoration: none;
}

#androidNav ul li a.seleccionada {
    text-decoration: underline;
}

/******************************************************* && Main section IPHONE*/
#mainSectionIphone {
    @include mysection(variables.$grid-iphone, 15px);
    grid-template-columns: repeat(2, 1fr);
}

#mainSectionIphone article#iphoneppal {
    grid-area: iphoneppal;
    aspect-ratio: 16/5;
}

#mainSectionIphone article#iphoneppal img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#mainSectionIphone article#iphoneart1 {
    grid-area: iphoneart1;
}

#mainSectionIphone article#iphoneart2 {
    grid-area: iphoneart2;
}

#mainSectionIphone article#iphoneart3 {
    grid-area: iphoneart3;
}

#mainSectionIphone article#iphoneart4 {
    grid-area: iphoneart4;
}

#mainSectionIphone article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/******************************************************** && Main section COMPARADOR*/
#mainSectionComparador {
    @include mysection(variables.$grid-comparador, 15px);
    grid-template-columns: repeat(3, 1fr);
}

#mainSectionComparador article#comparappal {
    grid-area: comparappal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#mainSectionComparador article#comparaandroid {
    grid-area: comparaandroid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainSectionComparador article#comparaiphone1 {
    grid-area: comparaiphone1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainSectionComparador article#comparaiphone2 {
    grid-area: comparaiphone2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainSectionComparador article img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}

#mainSectionComparador article#comparappal img {
    object-fit: fill;
    width: 30%;
    height: 30%;
}

/********************************************************** && Main section CONTACTA*/
#mainSectionContacta {
    @include mysection(variables.$grid-contacta, 15px);
    grid-template-columns: repeat(2, 1fr);
}

#mainSectionContacta article#contacta1 {
    grid-area: contacta1;
    aspect-ratio: 16/5;
}

#mainSectionContacta article#contacta2 {
    grid-area: contacta2;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#mainSectionContacta article#contacta3 {
    grid-area: contacta3;
    text-align: center;
    align-items: center;
}

#mainSectionContacta article#contacta4 {
    grid-area: contacta4;
}

#formulario {
    width: 450px;
    padding: 16px;
    margin: auto;
    background-color: variables.$gris;
    resize: none;
    display: block;
}

#formulario textarea {
    width: 100%;
    height: variables.$altura_anchura_minima + 80;
}

#afterform {
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

#enviar {
    border-radius: 15px;
    background-color: variables.$negro;
    color: variables.$color_fondo;
    font-size: large;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

#mainSectionContacta article#contacta5 {
    grid-area: contacta5;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#mainSectionContacta article#contacta6 {
    grid-area: contacta6;
}

#mainSectionContacta article#contacta7 {
    grid-area: contacta7;
}

#mainSectionContacta article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#mainSectionContacta article#contacta1 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mapatexto {
    text-align: center;
    font-size: small;
}

.mapatitle {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

/********************************************************** && Main section COMPRA*/
#mainSectionCompra {
    @include mysection(variables.$grid-compra, 15px);
    grid-template-columns: repeat(1, 1fr);
}


#mainSectionCompra article#compra1 {
    grid-area: compra1;
    aspect-ratio: 16/5;
}

#mainSectionCompra article#compra2 {
    grid-area: compra2;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#mainSectionCompra article#compra3 {
    grid-area: compra3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSectionCompra article#compra4 {
    grid-area: compra4;
}

#mainSectionCompra article#compra1 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#mainSectionCompra table {
    width: 65%;
}

#mainSectionCompra tr img {
    object-fit: cover;
    width: 60%;
    height: 60%;
}

.tcantpre {
    text-align: right;
    text-justify: left;
    font-weight: bolder;
    font-size: larger;
    white-space: nowrap;
    margin-left: 0;
}

.tdetalle {
    text-align: right;
    text-justify: center;
    white-space: nowrap;
}

/************************************************************ && Footer */
%myfooter {
    background-color: variables.$color_fondo;
}

.mainFooter {
    @extend %myfooter;
    display: flex;
    justify-content: space-between;
}

.socialFooter {
    @extend %myfooter;

    img {
        width: variables.$altura_anchura_minima;
        height: variables.$altura_anchura_minima;
    }
}

.disclaimerFooter {
    @extend %myfooter;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;

        li a {
            padding: 20px;
            color: variables.$negro;
            text-decoration: none;
            font-size: smaller;
        }
    }
}

/*********************************************************TARJETAS*/
.card {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-areas: "cardleft cardright";
    column-gap: 5px;
    border-radius: 15px;
    background-color: variables.$color_botones;
    color: variables.$color_fondo;
    margin-left: 5%;
    margin-right: 5%;
}

.cardleft {
    grid-area: cardleft;
    display: flex;
    flex-direction: column;
    align-content: left;
}

.cardright {
    grid-area: cardright;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.cardright .modelo {
    text-align: left;
    font-size: large;
}

.specs {
    text-align: left;
    font-size: x-small;
    line-height: 150%;
}

.cardleft img {
    object-fit: fill;
    max-width: 60%;
    max-height: 90%;
    margin: 15% 15%;
}

.cardright .botonera {
    display: inline-flex;
    flex-direction: column;
    justify-content: right;
}

.cardright button {
    border-radius: 10px;
    background-color: variables.$color_botones;
    color: variables.$color_fondo;
    font-size: x-small;
    margin: auto auto;
}

.cardcomp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: variables.$color_fondo;
    color: variables.$color_letra;
    margin-left: 15%;
    margin-right: 15%;
}

.cardcomp img {
    object-fit: cover;
    min-width: 80%;
}

.cardcomp .modelo {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.cardcomp .specs {
    text-align: center;
    font-size: small;
}

.comparer td {
    border-top: groove;
}